body {

    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}
a {
    text-decoration: none;
}
address {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
img {
    display: block;
    max-width: 100%;
}


/*  #common   для всіх секцій */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*.  page-header.  */
.page-header {
    
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
}
.container-header {
    display: flex;
    align-items: center;

}
.nav-header {
    display: flex;
    align-items: center;

}
.title-header {
    display: flex;
    align-items: center;
    gap: 40px; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.contacts {
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
    
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    
}
/*   #header-logo.    */
.logo-part {
    color: #2e2f42 ;
}
.logo-footer {
    color: #f4f4fd;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;

}
.nav-link.current::after {
    content:"";
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    bottom: -1px;
     
}

.current {
    color:#404BBF
}
.header-link {
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}


/*. main-section1-hero. */

.hero {
    
    padding-top: 188px;
    padding-bottom: 188px;
   max-width: 1440px;
    margin: 0 auto;

   
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
   
}
.hero-button {
    display: block;
    margin: 0 auto;
    
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}


/*. main-section2-values. */
.icon-container {
    display: flex;
    width: 264px;
    height: 112px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;

}

.values {
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.values-list {
    display:flex;
    gap: 24px;
}
/*. ховаю чекбокс і заголовок  */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
     padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;  
}

.values-item {
    width: calc((100% - 72px) / 4); 
}
.values-title {
    margin-bottom: 8px;
    /*width: calc((100% - 24 * 3) / 4);*/
 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.values-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* main-section3-team. */
.icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.sprite {
    fill: #f4f4fd;
}
.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
     background-color: #404bbf;
}
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-link {
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 

}

    /*width: calc((100% - 24 * 3) / 4);*/

     

.title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}


.team-info {
    padding-top: 32px;
    padding-bottom: 32px;
}
.title-team {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}



/* main-section4-portfolio. */
.portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
} 

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;  
}
.portfolio-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.title-secondary {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    background-color: #fff;
}
.portfolio-link {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
}


/*. зробила декоративний ОВЕРЛЕЙ */
.box {
    position: relative;
    overflow: hidden;
    
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;  
}
.portfolio-link:hover .overlay {
    transform: translateY(0);
   

}
.portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}




/*    footer.      */
.container-footer {
    display: flex;
    align-items: baseline;

}

.container-logo {
    margin-right: 120px;
}

.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}
.page-footer {
    padding-top: 100px;
    padding-bottom: 100px;;
    background-color: #2e2f42;
} 
.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.social-container {
  display: flex;
  flex-direction: column; /* текст зверху, іконки під ним */
  margin-right: 80px;
}

.social-list {
  display: flex;
  gap: 16px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-footer {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
  background-color: #31d0aa;
}

.social-icons {
  fill: #f4f4fd;
}

   

.social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
}

.social-footer {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}
.social-list {
    display: flex;
    gap: 16px;
}
ul.social-icons {
    display: flex;
    align-self: flex-start;
    gap: 10px;
    list-style: none;
    padding: 0;
}
ul.social-icons svg {
    fill: #f4f4fd ; 
}

.footer-modal-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #ffffff; 

}
.footer-form {
    display: flex;
    gap: 24px ;
}
            
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}


.footer-input::placeholder {
    color: #ffffff;
}
.footer-button {
    min-width: 165px; 
    height: 40px; 
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;


}
.footer-icon {
    margin-left: 16px;
}
    




/*.   modal. */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    /* Ховаємо модальне вікно */
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  щоб не скролились сторінка. */
body:has(.backdrop.is-open) {
    overflow: hidden;
    }
        
/* щоб появивилось модальне вікно*/
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;

    }


.modal {
    border: 1px solid #000;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;

    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 72px 24px 24px 24px;
    box-sizing: border-box;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    color: #111111;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
     
}
.modal-button:hover,
.modal-button:focus .modal-button-icon {
    fill: #ffffff;
}


.modal-button-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-field {
   
    margin-bottom: 8px;
    
}
.modal-comment {
    margin-bottom: 16px;
}
.modal-form-label {
    display: block;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    margin-bottom: 4px;
    color: #8e8f99;
} 
.modal-form-wrapper {
    position: relative;

}
.form-input {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 11px 38px;

}
.form-input:focus {
    border-color: #4D5AE5; 
}
.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-form-icon {
    fill: #4D5AE5;
}
textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea:focus {
    border-color: #4D5AE5;
}




/*. Custom-Checkbox       */
.form-agreement {
  margin-bottom: 24px;
}


.agreement-checkbox {

 
display: inline-flex;
justify-content: center;
align-items: center;
width: 16px;
height: 16px;
margin-right: 12px;
border-radius: 2px;
cursor: pointer;
border: 1px solid rgba(46, 47, 66, 0.4);

color: transparent;
fill: transparent;
transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.agreement-wrapper {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}


.agreement-checkbox .agreement-checkbox-icon {


  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*input:checked + label > span */
.checkbox-input:checked + .agreement-wrapper > .agreement-checkbox {
  background-color: #404bbf; 
  border: none;
  fill: #F4F4FD;
              
}

/* Колір галочки всередині SVG при checked */
.checkbox-input:checked + .agreement-wrapper .agreement-checkbox > .agreement-checkbox-icon {
  fill: #F4F4FD;            /* колір галочки */
}




.accent-tex {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8e8f99;

}

.agreement-link {

    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}



.button-submit {
   display: block;
   margin: 0 auto;

    border-radius: 10px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    cursor: pointer;
    font-family: "Roboto", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;

}


